<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SportsStore</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap-grid.min.css" />
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap-reboot.min.css" />
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    </environment>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <div class="row">
            <a class="col navbar-brand" href="#">Sports Clone</a>
            <div class="col-4 text-right">
                @await Component.InvokeAsync("CartSummary")
            </div>
        </div>
    </div>

    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>

        <div class="col-9">
            @RenderBody()
        </div>
    </div>

    <div class="row m-1 p-1">
        <div id="Pages" class="col-2">
            <ul>
                <li><a asp-controller="Admin" asp-action="Index">Admin</a></li>
                <li><a asp-controller="Order" asp-action="List">Order List</a></li>
            </ul>
        </div> 
    </div>
</body>
</html>
